* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
    overflow-x: hidden;
}

form {
    background: rgba(255, 0, 255, 0.27);
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
}

form button {
    width: 9%;
    background: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
    min-height: 25px;
    position: relative;
}

#messages li:last-child {
    animation: animate-message 750ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 1;
}

#messages li:nth-child(odd) {
    background: rgb(110, 46, 105);
    color: white;
}

@keyframes animate-message {
    from {
        right: -9999px;
    }
    to {
        right: 0;
    }
}
